@using Orchard.ContentManagement
@using Moov2.Orchard.Editor.Models

@{
    Style.Require("EditorStyles");
    Script.Require("EditorJs");

    Script.Require("jQueryColorBox");
    Style.Require("jQueryColorBox");

    var model = Model;
    var patternLibraryUrl = WorkContext.CurrentSite.As<EditorSettingsPart>().PatternLibraryUrl;

    var editorId = Guid.NewGuid();
}

<div class="editor js-editor">
    <div class="editor-toolbar">
        <ul>
            <li>
                <button type="button" class="js-toolbar-btn" data-action="open-visual-editor">
                    <svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 11.75c-.69 0-1.25.56-1.25 1.25s.56 1.25 1.25 1.25 1.25-.56 1.25-1.25-.56-1.25-1.25-1.25zm6 0c-.69 0-1.25.56-1.25 1.25s.56 1.25 1.25 1.25 1.25-.56 1.25-1.25-.56-1.25-1.25-1.25zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8 0-.29.02-.58.05-.86 2.36-1.05 4.23-2.98 5.21-5.37C11.07 8.33 14.05 10 17.42 10c.78 0 1.53-.09 2.25-.26.21.71.33 1.47.33 2.26 0 4.41-3.59 8-8 8z" />
                        <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                    <span> @T("Visual Editor")</span>
                </button>
            </li>

            <li>
                <button type="button" class="js-toolbar-btn" data-action="insert-media">
                    <svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z" />
                        <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                    <span> @T("Insert Media")</span>
                </button>
            </li>

            @if (!string.IsNullOrWhiteSpace(patternLibraryUrl)) {
            <li class="align-right icon-reverse">
                <a href="@patternLibraryUrl" target="_blank">
                    <span>@T("Open Pattern Library") </span>
                    <svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z" />
                    </svg>
                </a>
            </li>
            }
        </ul>
    </div>

    <div class="editor__ace js-editor-ace">
        @Html.TextArea("Text", (string)Model.Text, 25, 80,
         new Dictionary<string, object> {
            {"id", string.Format("editor-{0}", editorId)},
            {"style", "width:100%"}
         })
    </div>

    <div class="editor__medium js-editor-medium" style="display: none;">
        <iframe src="/Admin/Editor" class="editor__medium-embed js-editor-medium-iframe" frameborder="0"></iframe>
    </div>

    @Html.Hidden("ContentType", Model.ContentItem != null ? (string)Model.ContentItem.ContentType : "LayoutElement", new { @class = "js-editor-content-type" })

    @Html.Hidden("Text", (string)Model.Text, new Dictionary<string, object> {
        {"class", "editor-input"}
    })
</div>