@model Moov2.Orchard.Editor.Models.EditorSettingsPart
@{
    Script.Require("jQueryColorBox");
    Script.Require("MediumVendorJs").AtFoot();
    Script.Require("MediumInsertPluginJs").AtFoot();
    Script.Require("EditorEmbedJs").AtFoot();

    Style.Require("jQueryColorBox");
    Style.Require("MediumInsertPluginCss");
    Style.Require("MediumVendorCss");
    Style.Require("MediumVendorCssTheme");
    Style.Require("EditorStyles");
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    @Display.StylesheetLinks()

    <link href="@string.Format("/Themes/{0}/Styles/Site.css", WorkContext.CurrentTheme.Id)" rel="stylesheet" type="text/css">

    <style>
        figure figcaption {
            font-size: 12px;
            line-height: 1.2em;
            margin-top: 1em;
            min-height: 1.2em;
        }
    </style>

    @Display.HeadScripts()
</head>
<body>
    <div class="editor-toolbar">
        <div class="editor-toolbar-content">
            <div class="editor-toolbar-state">
                <p>Editing: <span class="js-state"></span></p>
            </div>
            <ul class="editor-toolbar-options">
                <li><button class="js-close-btn">Close</button></li>
            </ul>
        </div>
    </div>

    <div class="medium-editor">
        <textarea class="js-editor-medium-element"></textarea>
        <input type="hidden" class="js-editor-custom-css" value="@Model.ContainerCss" />
    </div>

    @Display.FootScripts()
</body>
</html>
